
 <div class="card">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <h4 class="card-title">Nouvel antecedant</h4>
            <div class="panel-body">
                <form #f="ngForm" >
                    <div class="row mb-3">
                        <div class="col">
                          <input type="text" class="form-control" name="categant" placeholder="Catégorie" [(ngModel)]="categant"  required>
                        </div>
                        <!-- <div *ngIf="categant.invalid && (categant.dirty || categant.touched)" class="alert alert-danger">champs obligatoire</div> -->
                        <div class="col">
                          <input type="text" class="form-control" name="descant"  [(ngModel)]="descant" placeholder="description" required>
                        </div>
                        <!-- <div *ngIf="descant.invalid && (descant.dirty || descant.touched)" class="alert alert-danger">champs obligatoire</div> -->
                        
                    </div>
                    
                    
                   
                    <p></p>
                        <div class="form-group">
                            <button *ngIf="action" class="btn btn-outline-success btn-rounded" type="submit"(click)="saveAntecedant(f.value)" [disabled]="!f.valid"><i class="fa fa-check"></i>ajouter</button>                       
                            <button *ngIf="!action" class="btn btn-outline-success btn-rounded" type="submit" (click)="updateAntecedant()"[disabled]="!f.valid"><i class="fa fa-check"></i>update</button>
                        </div>
                   
                </form>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="row">
        <div class="col">
            <!-- Card -->

            <div class="table-responsive">
                <table class="table v-middle" *ngIf="listAntecedant">
                    <thead>
                        <h4 class="card-title">Liste des antecedants</h4>
                        <tr class="bg-light">
                            <th class="border-top-0">ID </th>
                            <th class="border-top-0">catégorie</th>
                            <th class="border-top-0">Description</th>
                            <th class="border-top-0" ></th>
                            <th class="border-top-0" >Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let list of listAntecedant">
                            <td>{{list.id}}</td>
                             <td>{{list.categant}}</td>
                            <td>{{list.descant}}</td> 
                            
                        <td><button type="button" class="btn btn-rounded btn-outline-success"
                                (click)="miseAJour(list)"><i class="fa fa-heart"></i>
                                Update</button></td>
                        <td><button type="button" class="btn btn-rounded btn-outline-danger"
                                (click)="deleteAntecedant(list.id)"><i class="fa fa-heart"></i>
                                Delete</button> </td> 
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>