<div class="card">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <h4 class="card-title">Nouveau Patient</h4>
            <div class="panel-body">
                <form #f="ngForm" (ngSubmit)="onSavePatient(f.value)">
                    <div class="row mb-3">
                        <div class="col">
                          <input type="text" class="form-control" name="prenom" placeholder="Prénom" ngModel #prenom=ngModel>
                        </div>
                        <div class="col">
                          <input type="text" class="form-control" name="nom" ngModel #nom=ngModel placeholder="Nom">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                          <input type="text" class="form-control"  name="cin" ngModel #cin=ngModel placeholder="Cin">
                        </div>
                        <div class="col">
                          <input type="text" class="form-control"  name="telp" ngModel #telp=ngModel placeholder="GSM">
                        </div>
                    </div>
                    <p></p>
                    <div class="row mb-3">
                        <div class="col">
                            <select class=form-control name="sexe" ngModel #sexe=ngModel required>
                                <option  value="" disabled selected hidden>Sexe</option>
                                <option value="Masculin">Masculin</option>
                                <option value="Féminin">Féminin</option>
                              </select>
                        </div>
                        <div class="col">
                          <input type="text" class="form-control" name="profession" ngModel #profession=ngModel placeholder="Profession">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                          <input type="date" class="form-control" name="datenaiss" ngModel #datenaiss=ngModel>
                        </div>
                        <div class="col">
                          <input type="text" class="form-control" name="adresse" ngModel #adresse=ngModel placeholder="Adresse">
                        </div>
                    </div>
                    <p></p>
                        <div class="form-group">
                            <button class="btn btn-outline-success btn-rounded" type="submit" [disabled]="!f.valid"><i class="fa fa-check"></i>Ajouter</button>
                        </div>
                   
                </form>
            </div>
        </div>
    </div>
</div>